.mainContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    max-height: calc(100vh - 180px);
    margin: 0 20px;
    align-items: center;
}

.commentContainer {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    max-height: 100%;
    overflow-y: auto;
    padding: 15px 15px 0 15px;
    margin: 20px 0;
    max-width: 760px;
    width: 100%;
}

.comment{
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
}

.comment p {
    margin-top: 0px;
}
.comment h6{
    color: rgb(119, 119, 119);
    position: absolute;
    right: 7px;
    top: -20px;
}

.authorContainer{
    font-family: monospace;
    font-weight: 500;
}

.author{
    font-weight: 700;
}

.date{
    color: rgb(153, 153, 153);
}


@media (max-width: 600px) {

    .mainContent{
        max-height: calc(100vh - 120px);
    }

    .commentContainer{
        border-radius: 10px;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
        margin: 0 5px 20px 5px;
    }

    .comment{
        font-size: 0.85rem;
    }

    .date, .author{
        font-size: 0.8rem;
    }
}