.headerContainer{
    height: 180px;
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.logoContainer{
    height: fit-content;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo{
    height: 90px;
}

@media (max-width: 600px) {

    .logo{
        height: 55px;
    }

    .headerContainer{
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        height: 120px;
    }
}
